* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/my-web-hotel/client/assets/images/pexels-monkeytactics-751268.jpg)
    no-repeat center center/cover;
}

.login-box {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  padding: 40px;
  height: 400px;
  width: 450px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
  color: #fff;
  margin-top: 17px;
  margin-bottom: 30px;
  font-weight: normal;
}

.input-box {
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
}

.input-box input::placeholder {
  color: #ddd;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #deb666;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
}

.options a {
  color: #fff;
  text-decoration: none;
}

.options a:hover {
  color: #deb666;
}

.social-login {
  margin-top: 10px;
}

.social-login p {
  color: #fff;
  margin-bottom: 15px;
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a i {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.social-icons a:hover i.fa-google {
  color: #deb666;
}

.social-icons a:hover i.fa-facebook {
  color: #deb666;
}

.social-icons a:hover i.fa-twitter {
  color: #deb666;
}
