* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/pexels-monkeytactics-751268.jpg) no-repeat center
    center/cover;
}

.login-box {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  backdrop-filter: blur(7px);
  padding: 40px;
  height: 500px;
  width: 450px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: normal;
}

.input-box {
  margin-bottom: 20px;
  position: relative;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
}
.toggle-password {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.toggle-password:hover {
  color: #deb666;
}

.input-box input::placeholder {
  color: #ddd;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #deb666;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}
/* ======checkbox custom =======*/
/* Customize the label (the container) */
.remember-login {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.9em;
  color: #eee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: start;
}

/* Hide the browser's default checkbox */
.remember-login input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.remember-login:hover input ~ .checkmark {
  background-color: #fff;
}

.remember-login input:checked ~ .checkmark {
  background-color: #deb666;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.remember-login input:checked ~ .checkmark:after {
  display: block;
}

.remember-login .checkmark:after {
  left: 5px;
  top: 1px;
  width: 2.5px;
  height: 7.5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
}

.options a {
  color: #fff;
  text-decoration: none;
}

.options a:hover {
  color: #deb666;
}

.social-login {
  margin-top: 10px;
}

.social-login p {
  color: #fff;
  margin-bottom: 15px;
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a i {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.social-icons a:hover i.fa-google {
  color: #deb666;
}

.social-icons a:hover i.fa-facebook {
  color: #deb666;
}

.social-icons a:hover i.fa-twitter {
  color: #deb666;
}
